@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.main-footer {
    background-color: black;
    position: relative;
}

.main-footer .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/background//8-yellow.png);
}

.main-footer .bg-image:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-theme-color1);
    opacity: 0;
    content: "";
}

/* Widget Section */

.main-footer .widgets-section {
    position: relative;
    padding: 110px 0 65px;
}

@media (max-width: 991.98px) {
    .main-footer .widgets-section {
        padding: 87px 0 35px;
    }
}

.main-footer .footer-column {
    position: relative;
    margin-bottom: 40px;
}

.main-footer .footer-widget {
    position: relative;
}

.main-footer .widget-title {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2em;
    padding-bottom: 18px;
    margin-bottom: 25px;
}

.main-footer .widget-title:after {
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 2px;
    width: 25px;
    background-color: #ee8624;
    content: "";
}

.main-footer .widget-title:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
}

.main-footer .about-widget {
    position: relative;
}

.main-footer .about-widget .logo {
    position: relative;
    margin-bottom: 22px;
}

.main-footer .about-widget .text {
    font-size: 16px;
    line-height: 30px;
    color: #8c8f94;
    margin-bottom: 20px;
}



/*=== User LInks ===*/

.user-links {
    position: relative;
}

.user-links li {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #8c8f94;
    font-weight: 400;
    margin-bottom: 14px;
}

.user-links li:last-child {
    margin-bottom: 0;
}

.user-links li a {
    position: relative;
    display: inline-block;
    color: inherit;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.user-links li a:hover {
    color: #FFFFFF;
}

.user-links li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--bg-theme-color3);
    content: "";
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.user-links li a:hover:before {
    width: 100%;
}

/* Contact Widget */

.contact-widget {
    position: relative;
}

.contact-widget .text {
    font-size: 16px;
    line-height: 30px;
    color: #8c8f94;
    margin-bottom: 25px;
}

.contact-widget .contact-info {
    position: relative;
}

.contact-widget .contact-info li {
    position: relative;
    padding-left: 38px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-widget .contact-info li a {
    color: inherit;
    -webkit-transition: none;
    transition: none;
}

.contact-widget .contact-info li i {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--theme-color2);
    line-height: 26px;
    width: 20px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-widget .contact-info li:hover {
    color: var(--theme-color2);
}

/* Gallery Widget */

.gallery-widget {
    position: relative;
}

.gallery-widget .outer {
    position: relative;
    margin: 0px -7px;
}

.gallery-widget .outer .image {
    position: relative;
    float: left;
    width: 33.3333%;
    padding: 0px 7px;
    margin-bottom: 14px;
}

.gallery-widget .image img {
    display: block;
    width: 100%;
}

.gallery-widget .image a {
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery-widget .image a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--theme-color2) padding-box content-box;
    opacity: 0.8;
    content: "";
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.gallery-widget .image a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gallery-widget .image a:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gallery-widget .image a:after {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    content: "\f0c1";
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #8c8F94;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

/*=== Footer Bottom ===*/

.footer-bottom {
    position: relative;
    width: 100%;
}

.footer-bottom .inner-container {
    position: relative;
    text-align: center;
    background-color: #07151D;
    padding: 35px 15px;
}

.footer-bottom .copyright-text {
    position: relative;
    color: #8c8f94;
}

.footer-bottom .copyright-text a {
    color: inherit;
}

.footer-bottom .copyright-text a:hover {
    color: #ffffff;
}

.key-features p {
    margin: 3px;
}



.social-icon-two li a {
    position: relative;
    display: block;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #2c2e33;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.social-icon-two li a:hover {
    color: black;
    background-color: #ee8624;
}



.contact-widget .contact-info {
    position: relative;
}

.contact-widget .contact-info li {
    position: relative;
    padding-left: 38px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-widget .contact-info li a {
    color: inherit;
    -webkit-transition: none;
    transition: none;
}

.contact-widget .contact-info li i {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--theme-color2);
    line-height: 26px;
    width: 20px;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-widget .contact-info li:hover {
    color: #ee8624;
}

.footer-responsive{
    margin: auto;
    width: 85%;
}

@media (max-width : 767px) {
    .footer-responsive{
        margin: auto;
        width: 100%;
    }
}